In [15]:
import os
import json
import pandas as pd

In [9]:
### 제이슨 파일 불러오기
directory_path = './원천데이터/라벨링/laptop_(1)/'
json_data = []

try:
    file_list = os.listdir(directory_path)
    json_files = [file for file in file_list if file.endswith('.json')]

    for json_file in json_files:
        json_path = os.path.join(directory_path, json_file)
        try:
            with open(json_path, 'r') as file:
                data = json.load(file)
                json_data.append(data)
        except Exception as e:
            print(f"Error reading JSON file '{json_file}': {e}")
except Exception as e:
    print(f"Error accessing directory '{directory_path}': {e}")

Error reading JSON file 'NIA22EYE_S1_001_T1_S01_L_rgb_A_C_T_033.json': Expecting value: line 1 column 1 (char 0)

In [130]:
### 제이슨 파일 데이터프레임으로 변환
# df1 = pd.DataFrame()

# for data in json_data:
#     ### ID
#     id_ = data['Annotations']['metaid']
#     ### point
#     point = data['Annotations']['pose']['point']
#     ### condition
#     condition = data['Annotations']['condition']
    
#     df_1 = pd.DataFrame({'ID':id_, 'point':[point], 'condition':condition})

#     ### label 별로 평균값으로 데이터 프레임 넣기    
#     # 추출한 정보를 저장할 딕셔너리 초기화
#     data_dict = {'ID':id_, 'label': [], 'average_points': []}
#     # JSON 데이터를 순회하며 필요한 정보 추출
#     for item in data['Annotations']['annotations']:
#         label = item['label']
#         points = item['points']
#         avg_x = sum(p[0] for p in points) / len(points)
#         avg_y = sum(p[1] for p in points) / len(points)
#         average_points = [avg_x, avg_y]

#         data_dict['label'].append(label)
#         data_dict['average_points'].append(average_points)
#     df_2 = pd.DataFrame([[id_]+data_dict['average_points']], columns=['ID']+data_dict['label'])
    
#     ### df_1과 df_2 합치기
#     df_ = pd.merge(left = df_1, right=df_2, on='ID', how='outer')
    
#     ### df에 추가하기
#     df1 = pd.concat ([df1, df_], ignore_index = True)

In [131]:
# df1

,ID,point,condition,r_iris,l_iris,r_eyelid,l_eyelid,l_center,r_center
0,001,"[1350, 380]",A,"[970.5, 434.5]","[843.0, 433.0]","[966.375, 433.875]","[838.75, 433.5]","[843.0, 432.0]","[970.5, 433.0]"
1,001,"[1350, 380]",A,"[970.5, 431.0]","[842.0, 431.5]","[965.4375, 432.8125]","[838.6875, 433.3125]","[842.0, 431.5]","[970.5, 431.0]"
2,001,"[1350, 380]",A,"[970.5, 431.0]","[842.0, 432.0]","[965.4375, 432.9375]","[838.25, 433.25]","[842.0, 432.0]","[970.5, 431.0]"
3,001,"[1350, 380]",A,"[971.5, 432.0]","[844.0, 431.5]","[966.9375, 433.4375]","[839.5, 433.375]","[844.0, 431.5]","[971.5, 432.0]"
4,001,"[1350, 380]",A,"[970.0, 431.0]","[841.5, 432.0]","[965.5625, 432.375]","[837.625, 433.375]","[841.5, 432.0]","[970.0, 431.0]"
...,...,...,...,...,...,...,...,...,...
2714,001,"[1382, 738]",S,"[1011.5, 424.0]","[883.0, 438.5]","[1007.0625, 426.5]","[879.5, 440.5]","[883.0, 438.5]","[1011.5, 424.0]"
2715,001,"[1382, 738]",S,"[1012.0, 423.0]","[883.5, 437.5]","[1007.1875, 425.3125]","[879.5625, 439.4375]","[883.5, 437.5]","[1012.0, 423.0]"
2716,001,"[1382, 738]",S,"[1012.0, 422.0]","[882.5, 436.5]","[1007.0, 425.0]","[878.9375, 439.0]","[882.5, 436.5]","[1012.0, 422.0]"
2717,001,"[1382, 738]",S,"[1012.0, 422.5]","[883.0, 436.5]","[1006.875, 425.0625]","[879.3125, 439.0]","[883.0, 436.5]","[1012.0, 422.5]"
2718,001,"[1382, 738]",S,"[992.5, 421.5]","[865.5, 437.0]","[998.3125, 423.3125]","[869.6875, 439.125]","[865.5, 437.0]","[992.5, 421.5]"

In [112]:
### 제이슨 파일 데이터프레임으로 변환
df = pd.DataFrame()

for data in json_data:
    ### ID
    id_ = data['Annotations']['metaid']
    ### point
    point = data['Annotations']['pose']['point']
    ### condition
    condition = data['Annotations']['condition']
    
    df_1 = pd.DataFrame({'ID':id_, 'point':[point], 'condition':condition})
    
    ### label 별로 평균값으로 데이터 프레임 넣기    
        for item in data['Annotations']['annotations']:
        label = item['label']
        points = item['points']
        avg_x = sum(p[0] for p in points) / len(points)
        avg_y = sum(p[1] for p in points) / len(points)
        
        df_1[label+'_x'] = avg_x
        df_1[label+'_y'] = avg_y
    
    ### df에 추가하기
    df = pd.concat ([df, df_1], ignore_index = True)

In [113]:
df

,ID,point,condition,r_iris_x,r_iris_y,l_iris_x,l_iris_y,r_eyelid_x,r_eyelid_y,l_eyelid_x,l_eyelid_y,l_center_x,l_center_y,r_center_x,r_center_y
0,001,"[1350, 380]",A,970.5,434.5,843.0,433.0,966.3750,433.8750,838.7500,433.5000,843.0,432.0,970.5,433.0
1,001,"[1350, 380]",A,970.5,431.0,842.0,431.5,965.4375,432.8125,838.6875,433.3125,842.0,431.5,970.5,431.0
2,001,"[1350, 380]",A,970.5,431.0,842.0,432.0,965.4375,432.9375,838.2500,433.2500,842.0,432.0,970.5,431.0
3,001,"[1350, 380]",A,971.5,432.0,844.0,431.5,966.9375,433.4375,839.5000,433.3750,844.0,431.5,971.5,432.0
4,001,"[1350, 380]",A,970.0,431.0,841.5,432.0,965.5625,432.3750,837.6250,433.3750,841.5,432.0,970.0,431.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2714,001,"[1382, 738]",S,1011.5,424.0,883.0,438.5,1007.0625,426.5000,879.5000,440.5000,883.0,438.5,1011.5,424.0
2715,001,"[1382, 738]",S,1012.0,423.0,883.5,437.5,1007.1875,425.3125,879.5625,439.4375,883.5,437.5,1012.0,423.0
2716,001,"[1382, 738]",S,1012.0,422.0,882.5,436.5,1007.0000,425.0000,878.9375,439.0000,882.5,436.5,1012.0,422.0
2717,001,"[1382, 738]",S,1012.0,422.5,883.0,436.5,1006.8750,425.0625,879.3125,439.0000,883.0,436.5,1012.0,422.5
2718,001,"[1382, 738]",S,992.5,421.5,865.5,437.0,998.3125,423.3125,869.6875,439.1250,865.5,437.0,992.5,421.5

In [134]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2719 entries, 0 to 2718
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          2719 non-null   object
 1   point       2719 non-null   object
 2   condition   2719 non-null   object
 3   r_iris_x    2577 non-null   float64
 4   r_iris_y    2577 non-null   float64
 5   l_iris_x    2577 non-null   float64
 6   l_iris_y    2577 non-null   float64
 7   r_eyelid_x  2719 non-null   float64
 8   r_eyelid_y  2719 non-null   float64
 9   l_eyelid_x  2719 non-null   float64
 10  l_eyelid_y  2719 non-null   float64
 11  l_center_x  2577 non-null   float64
 12  l_center_y  2577 non-null   float64
 13  r_center_x  2577 non-null   float64
 14  r_center_y  2577 non-null   float64
dtypes: float64(12), object(3)
memory usage: 318.8+ KB

### 결측치 제거

In [135]:
df = df.dropna()

In [136]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2577 entries, 0 to 2718
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          2577 non-null   object
 1   point       2577 non-null   object
 2   condition   2577 non-null   object
 3   r_iris_x    2577 non-null   float64
 4   r_iris_y    2577 non-null   float64
 5   l_iris_x    2577 non-null   float64
 6   l_iris_y    2577 non-null   float64
 7   r_eyelid_x  2577 non-null   float64
 8   r_eyelid_y  2577 non-null   float64
 9   l_eyelid_x  2577 non-null   float64
 10  l_eyelid_y  2577 non-null   float64
 11  l_center_x  2577 non-null   float64
 12  l_center_y  2577 non-null   float64
 13  r_center_x  2577 non-null   float64
 14  r_center_y  2577 non-null   float64
dtypes: float64(12), object(3)
memory usage: 322.1+ KB

# 랜덤포레스트

In [137]:
data = df.iloc[:, 3:].to_numpy()
target = df.iloc[:, 2].to_numpy()

print(data.shape, target.shape)

(2577, 12) (2577,)

In [138]:
### target 데이터를 숫자로 인코딩
from sklearn.preprocessing import LabelEncoder

# 레이블 인코더 생성
label_encoder = LabelEncoder()

# 데이터 변환
target = label_encoder.fit_transform(target)

print(target.shape)

(2577,)

In [139]:
target

array([0, 0, 0, ..., 4, 4, 4])

In [140]:
### 8:2로 나누기
from sklearn.model_selection import train_test_split

train_x, test_x, train_y, test_y = train_test_split(data, target, random_state=42, test_size=0.2)

print(train_x.shape, train_y.shape)
print(test_x.shape, test_y.shape)

(2061, 12) (2061,)
(516, 12) (516,)

### StandardScaler 정규화

In [143]:
### StandardScaler
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
ss.fit(train_x)

train_std_scaler = ss.transform(train_x)
test_std_scaler = ss.transform(test_x)

print(train_std_scaler.shape)

(2061, 12)

### 훈련

In [144]:
### 랜덤포레스트 훈련모델 라이브러리
from sklearn.ensemble import RandomForestClassifier

### 훈련모델 생성
rf = RandomForestClassifier(n_jobs=-1, random_state=42)

### Std훈련 시키기
rf.fit(train_std_scaler, train_y)

### 훈련정확도 및 테스트 정확도
tr_score = rf.score(train_std_scaler, train_y)
ts_score = rf.score(test_std_scaler, test_y)

print('훈련 정확도 :', tr_score)
print('테스트 정확도 :', ts_score)

훈련 정확도 : 1.0
테스트 정확도 : 0.9147286821705426